/* Responsive for Mobile Devices */
@media screen and (max-width: 576px) {
    .nav-container {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        margin-top: 20px;
    }

    .nav-links ul {
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin-bottom: 10px;
    }

    .follow {
        margin-bottom: 20px;
    }

    .banner-description {
        padding: 30px;
    }

    .banner-title {
        font-size: 2rem;
    }

    .banner-goat {
        font-size: 4rem;
        margin-bottom: 16px;
    }

    .banner-list {
        font-size: 1rem;
    }

    .primary-btn {
        font-size: 0.875rem;
        padding: 10px 20px;
    }

    .gamer-container {
        flex-direction: column;
        align-items: center;
    }

    .g-img img {
        max-width: 80vw;
    }

    .g-desk {
        text-align: center;
    }

    #more {
        text-align: center;
    }

    .online-games-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .vdio-games-card img {
        width: 80vw;
    }

    .instantly-play {
        padding-left: 0;
    }

    .games-category {
        padding: 30px 0;
    }

    .footer-container {
        width: 80%;
    }

    .footer-logo h2 {
        font-size: 2rem;
    }

    .links {
        flex-direction: column;
        align-items: center;
    }

    .social a {
        font-size: 1.5rem;
    }
}



/* Responsive for Tab and others Devices */
@media screen and (max-width: 1024px) {
    .nav-container {
        width: 90%;
    }

    .banner {
        flex-direction: column;
        align-items: center;
    }

    .banner-description {
        width: 100%;
        padding: 50px;
        text-align: center;
    }

    .banner-img img {
        width: 100%;
    }

    .online-games-container {
        flex-wrap: wrap;
    }

    .vdio-games-card img {
        width: 40vw;
        height: auto;
    }

    .instantly-play {
        flex-direction: column;
        align-items: center;
    }

    .instantly-play-img img {
        width: 80%;
    }

    .games-category {
        padding: 50px 0;
    }

    .category-container1,
    .category-container2 {
        flex-direction: column;
        align-items: center;
    }

    .category {
        margin-bottom: 15px;
    }

    .angela {
        width: 50%;
        bottom: 0;
        right: 0;
    }
}